div div {
	margin: 10px;
	/*padding: 20px 50px 20px 50px;*/
	background: lightgrey;
}

#nome {
	font-size: 40px;
}

#cidade {
	font-style: italic;
	font-size: 20px;
}

#telefone {
	font-style: italic;
	font-size: 20px;
}

#habilidades p {
	padding: 5px;
	text-align: justify;
}